@mixin piedepagina($paginadelaaplicacion,$posicionenlasfilas) {
    .piedepaginade#{$paginadelaaplicacion}{
        grid-column: 1/span 12;
        grid-row: $posicionenlasfilas/span 1;
        background-color: $colordepiedepagina;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr 4fr 1fr;
        justify-items: center;
        align-items: flex-start;
    
        @media (min-width : 469px) and (max-width : 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            align-items: center;
        }
    
        @media (min-width : 468px) and (max-width : 480px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            align-items: center;
        }
    
        @media (min-width : 0px) and (max-width : 468px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4,1fr);
            justify-items: flex-start;
            align-items: center;
        }
    }
    
    .contenedordeopciones{
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 55px 100px;
        justify-items: center;
        align-items: flex-start ;
    
        @media (min-width : 0px) and (max-width : 468px) {
            margin-left: 50px;
        }
    }
    
    .titulopiedepagina{
        grid-row: 1/2;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 0;
    
        @media (min-width : 769px) and (max-width : 1279px) {
            font-size: 28px;
        }
    
        @media (min-width : 481px) and (max-width : 768px) {
            font-size: 28px;
        }
    
        @media (min-width : 481px) and (max-width : 668px) {
            font-size: 28px;
        }
    
        @media (min-width : 0px) and (max-width : 468px) {
            
        }
    }
    
    .listadeopciones{
        grid-row: 2/span 1;
        margin-top: 0;
    }
    
    .opciondepiedepeagina{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    
        @media (min-width : 769px) and (max-width : 1279px) {
            font-size: 15px;
        }
    
        @media (min-width : 481px) and (max-width : 768px) {
            font-size: 17px;
        }
    
        @media (min-width : 481px) and (max-width : 668px) {
            font-size: 17px;
        }
    
        @media (min-width : 0px) and (max-width : 468px) {
    
        }
    }
    
    .imagendelibrodereclamaciones{
        width: 200px;
        margin-top: 10px;
    
        @media (min-width : 769px) and (max-width : 1279px) {
            width: 180px;
        }
    
        @media (min-width : 481px) and (max-width : 768px) {
            width: 130px;
        }
    
        @media (min-width : 468px) and (max-width : 480px) {
            width: 120px;
        }
    
        @media (min-width : 481px) and (max-width : 668px) {
            width: 120px;
        }
    
        @media (min-width : 0px) and (max-width : 468px) {
            width: 130px;
        }
    }
    
    .contenedordenosotros{
        @media (min-width : 481px) and (max-width : 768px) {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    
        @media (min-width : 468px) and (max-width : 480px) {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    
        @media (min-width : 0px) and (max-width : 468px) {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
    
    .contenedordecategorias{
        @media (min-width : 481px) and (max-width : 768px) {
            grid-column: 2/span 1;
            grid-row: 1/2;
        }
    
        @media (min-width : 468px) and (max-width : 480px) {
            grid-column: 2/span 1;
            grid-row: 1/2;
        }
    
        @media (min-width : 0px) and (max-width : 468px) {
            grid-column: 1/2;
            grid-row: 2/span 1;
        }
    }
    
    .contenedordeofertas{
        @media (min-width : 0px) and (max-width : 468px) {
            grid-column: 1/2;
            grid-row: 3/span 1;
        }
    }
    
    .contenedordereclamos{
        @media (min-width : 0px) and (max-width : 468px) {
            grid-column: 1/2;
            grid-row: 4/span 1;
        }
    }        
}