@mixin cartadeproductodelusuarionoeliminable($paginadetrabajo) {
  .contenedordeproducto {
    width: 100%;
    height: 100%;
    border: 2px solid $colordebordes;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 4fr;
  }

  .contenedordeimagendeproducto {
    grid-column: 1 / span 1;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid $colordebordes;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagendeproducto {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .informaciondeproducto {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }

  .nombredeproducto {
    grid-column: 1 / span 1;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colordebordes;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    @media (min-width: 1081px) and (max-width: 1279px) {
      font-size: 17px;
    }

    @media (min-width: 991px) and (max-width: 1080px) {
      font-size: 15px;
    }

    @media (min-width: 769px) and (max-width: 990px) {
      font-size: 13px;
    }

    @media (min-width: 701px) and (max-width: 768px) {
      font-size: 17px;
    }

    @media (min-width: 601px) and (max-width: 700px) {
      font-size: 15px;
    }

    @media (min-width: 481px) and (max-width: 600px) {
      font-size: 13px;
    }

    @media (min-width: 0px) and (max-width: 468px) {
      font-size: 18px;
    }
  }
  .preciodeproducto {
    grid-column: 1 / span 1;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colordebordes;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    @media (min-width: 1081px) and (max-width: 1279px) {
      font-size: 30px;
    }

    @media (min-width: 991px) and (max-width: 1080px) {
      font-size: 27px;
    }

    @media (min-width: 769px) and (max-width: 990px) {
      font-size: 25px;
    }

    @media (min-width: 701px) and (max-width: 768px) {
      font-size: 33px;
    }

    @media (min-width: 601px) and (max-width: 700px) {
      font-size: 30px;
    }

    @media (min-width: 481px) and (max-width: 600px) {
      font-size: 27px;
    }

    @media (min-width: 0px) and (max-width: 468px) {
      font-size: 33px;
    }
  }
  .ofertadeproducto {
    grid-column: 1 / span 1;
    grid-row: 3 / 4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: $colordedescuentodeunproducto;
    text-align: center;

    @media (min-width: 1081px) and (max-width: 1279px) {
      font-size: 19px;
    }

    @media (min-width: 991px) and (max-width: 1080px) {
      font-size: 17px;
    }

    @media (min-width: 769px) and (max-width: 990px) {
      font-size: 15px;
    }

    @media (min-width: 701px) and (max-width: 768px) {
      font-size: 20px;
    }

    @media (min-width: 601px) and (max-width: 700px) {
      font-size: 18px;
    }

    @media (min-width: 481px) and (max-width: 600px) {
      font-size: 15px;
    }

    @media (min-width: 0px) and (max-width: 468px) {
      font-size: 19px;
    }
  }
}
