$colordebordes : #707070;
$colordebarradenavegacion : #48c535;
$colorprincipaldebotones : #0083e0;
$colorsecundariodebotones : #ec3232;
$colordepiedepagina : #484242;
$colordedescuentodeunproducto : #12be2a;