* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedordeiniciodesesion {
  width: 100%;
  height: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 80px 1fr 300px;
      grid-template-rows: 80px 1fr 300px;
}

@media (max-width: 1200px) {
  .contenedordeiniciodesesion {
    height: 900px;
    -ms-grid-rows: 80px 1fr 300px;
        grid-template-rows: 80px 1fr 300px;
  }
}

@media (max-width: 1100px) {
  .contenedordeiniciodesesion {
    height: 870px;
    -ms-grid-rows: 80px 1fr 300px;
        grid-template-rows: 80px 1fr 300px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .contenedordeiniciodesesion {
    height: 1100px;
    -ms-grid-rows: 80px 1fr 500px;
        grid-template-rows: 80px 1fr 500px;
  }
}

@media (max-width: 580px) {
  .contenedordeiniciodesesion {
    height: 1200px;
    -ms-grid-rows: 80px 1fr 500px;
        grid-template-rows: 80px 1fr 500px;
  }
}

@media (max-width: 481px) {
  .contenedordeiniciodesesion {
    height: 1300px;
    -ms-grid-rows: 80px 1fr 500px;
        grid-template-rows: 80px 1fr 500px;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .contenedordeiniciodesesion {
    height: 5300px;
    -ms-grid-rows: 80px 1fr 850px;
        grid-template-rows: 80px 1fr 850px;
  }
}

/* Barra de navegacion */
.barradenavegaciondeiniciodesesion {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/span 12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  height: 80px;
  background-color: #48c535;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  grid-gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

@media (max-width: 480px) {
  .barradenavegaciondeiniciodesesion {
    display: -ms-grid;
    display: grid;
    grid-column: span 12;
    height: 80px;
    background-color: #48c535;
    display: grid;
    -ms-grid-columns: 2fr 4fr 2fr;
        grid-template-columns: 2fr 4fr 2fr;
    -ms-grid-rows: 80px;
        grid-template-rows: 80px;
    grid-gap: 10px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1200px) {
  .logo {
    font-size: 24px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    font-size: 25px;
  }
}

@media (max-width: 580px) {
  .logo {
    font-size: 24px;
    text-align: center;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 26px;
    margin-left: 10px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.busquedadeproducto {
  width: 100%;
  height: 100%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 481px) and (max-width: 768px) {
  .busquedadeproducto {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/span 6;
  }
}

@media (max-width: 580px) {
  .busquedadeproducto {
    margin-left: 40px;
  }
}

@media (max-width: 480px) {
  .busquedadeproducto {
    justify-self: flex-end;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.contenedordeinputdebusquedadeproductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputdebusquedadeproductos {
  width: 100%;
  height: 40%;
  border: 2px solid #707070;
  border-radius: 5px;
}

@media (max-width: 580px) {
  .inputdebusquedadeproductos {
    justify-self: flex-end;
  }
}

@media (max-width: 480px) {
  .inputdebusquedadeproductos {
    display: none;
  }
}

.opcionesdebusquedadebarradenavegacion {
  background-color: white;
  border: 2px solid #707070;
  border-radius: 5px;
  width: 24.3%;
  height: 2em;
  z-index: 1;
  position: absolute;
  top: 65px;
  left: 242px;
}

.botonbuscadordeproductos {
  width: 20%;
  height: 45%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #707070;
  border-radius: 5px;
  padding: 0.2em;
  text-align: center;
  background-color: #ec3232;
}

@media (max-width: 900px) {
  .botonbuscadordeproductos {
    padding: 0.1em;
    width: 22%;
    height: 40%;
    font-size: 15px;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .botonbuscadordeproductos {
    width: 20%;
    height: 40%;
    padding: 0.1em;
    text-align: center;
  }
}

@media (max-width: 580px) {
  .botonbuscadordeproductos {
    font-size: 13px;
    padding: 0.1em;
    text-align: center;
    justify-self: flex-end;
  }
}

@media (max-width: 480px) {
  .botonbuscadordeproductos {
    width: 45%;
    font-size: 13px;
    padding: 0.1em;
    text-align: center;
    justify-self: flex-end;
    margin-right: 10px;
  }
}

@media (min-width: 0px) and (max-width: 468px) {
  .botonbuscadordeproductos {
    font-size: 13px;
  }
}

.contenedordelistadeopciones {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .contenedordelistadeopciones {
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6/12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .contenedordelistadeopciones {
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6/12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .contenedordelistadeopciones {
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6/12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 45%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .contenedordelistadeopciones {
    -ms-grid-column: 11;
    -ms-grid-column-span: 2;
    grid-column: 11/span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 480px) {
  .contenedordelistadeopciones {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.listadeopcionesitem {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1200px) {
  .listadeopcionesitem {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .listadeopcionesitem {
    font-size: 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .listadeopcionesitem {
    display: none;
  }
}

@media (max-width: 480px) {
  .listadeopcionesitem {
    display: none;
  }
}

.botondeiniciodesesion {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #707070;
  border-radius: 10px;
  padding: 0.1em;
  background-color: #0083e0;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

@media (max-width: 1200px) {
  .botondeiniciodesesion {
    font-size: 22px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .botondeiniciodesesion {
    display: none;
  }
}

@media (max-width: 480px) {
  .botondeiniciodesesion {
    display: none;
  }
}

/* ------------------------------------------------------- */
.contenedordeformulariodeiniciodesesion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/span 12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1.7fr 1.5fr;
      grid-template-columns: 1.5fr 1.7fr 1.5fr;
  -ms-grid-rows: 2fr 55fr 2fr;
      grid-template-rows: 2fr 55fr 2fr;
}

@media (min-width: 1170px) and (max-width: 1279px) {
  .contenedordeformulariodeiniciodesesion {
    -ms-grid-columns: 1.5fr 1.8fr 1.5fr;
        grid-template-columns: 1.5fr 1.8fr 1.5fr;
    -ms-grid-rows: 2fr 22fr 2fr;
        grid-template-rows: 2fr 22fr 2fr;
  }
}

@media (min-width: 1070px) and (max-width: 1169px) {
  .contenedordeformulariodeiniciodesesion {
    -ms-grid-columns: 1.5fr 2fr 1.5fr;
        grid-template-columns: 1.5fr 2fr 1.5fr;
    -ms-grid-rows: 2fr 28fr 2fr;
        grid-template-rows: 2fr 28fr 2fr;
  }
}

@media (min-width: 916px) and (max-width: 1070px) {
  .contenedordeformulariodeiniciodesesion {
    -ms-grid-columns: 1.5fr 2.3fr 1.5fr;
        grid-template-columns: 1.5fr 2.3fr 1.5fr;
    -ms-grid-rows: 2fr 28fr 2fr;
        grid-template-rows: 2fr 28fr 2fr;
  }
}

@media (min-width: 769px) and (max-width: 915px) {
  .contenedordeformulariodeiniciodesesion {
    -ms-grid-columns: 1.5fr 3fr 1.5fr;
        grid-template-columns: 1.5fr 3fr 1.5fr;
    -ms-grid-rows: 2fr 30fr 2fr;
        grid-template-rows: 2fr 30fr 2fr;
  }
}

@media (min-width: 681px) and (max-width: 768px) {
  .contenedordeformulariodeiniciodesesion {
    -ms-grid-columns: 1.5fr 4.3fr 1.5fr;
        grid-template-columns: 1.5fr 4.3fr 1.5fr;
    -ms-grid-rows: 2fr 30fr 2fr;
        grid-template-rows: 2fr 30fr 2fr;
  }
}

@media (min-width: 571px) and (max-width: 680px) {
  .contenedordeformulariodeiniciodesesion {
    -ms-grid-columns: 1.5fr 8fr 1.5fr;
        grid-template-columns: 1.5fr 8fr 1.5fr;
    -ms-grid-rows: 2fr 30fr 2fr;
        grid-template-rows: 2fr 30fr 2fr;
  }
}

@media (min-width: 481px) and (max-width: 570px) {
  .contenedordeformulariodeiniciodesesion {
    -ms-grid-columns: 1.5fr 12fr 1.5fr;
        grid-template-columns: 1.5fr 12fr 1.5fr;
    -ms-grid-rows: 2fr 20fr 2fr;
        grid-template-rows: 2fr 20fr 2fr;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .contenedordeformulariodeiniciodesesion {
    -ms-grid-columns: 1fr 40fr 1fr;
        grid-template-columns: 1fr 40fr 1fr;
    -ms-grid-rows: 2fr 10fr 2fr;
        grid-template-rows: 2fr 10fr 2fr;
  }
}

.formulariodeinciodesesion {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border: 2px solid black;
  border-radius: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 2fr (1fr)[3] 2fr;
      grid-template-rows: 2fr repeat(3, 1fr) 2fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .formulariodeinciodesesion {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .formulariodeinciodesesion {
    -ms-grid-rows: 2fr (1fr)[3] 1fr 1fr;
        grid-template-rows: 2fr repeat(3, 1fr) 1fr 1fr;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .formulariodeinciodesesion {
    -ms-grid-rows: 2fr (1fr)[3] 1fr 1fr;
        grid-template-rows: 2fr repeat(3, 1fr) 1fr 1fr;
  }
}

.contenedordetitulodeformulario {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulodeformulario {
  text-align: center;
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1170px) and (max-width: 1279px) {
  .titulodeformulario {
    font-size: 38px;
  }
}

@media (min-width: 916px) and (max-width: 1169px) {
  .titulodeformulario {
    font-size: 35px;
  }
}

@media (min-width: 681px) and (max-width: 915px) {
  .titulodeformulario {
    font-size: 32px;
  }
}

@media (min-width: 571px) and (max-width: 680px) {
  .titulodeformulario {
    font-size: 30px;
  }
}

@media (min-width: 431px) and (max-width: 570px) {
  .titulodeformulario {
    font-size: 30px;
  }
}

@media (min-width: 0px) and (max-width: 430px) {
  .titulodeformulario {
    font-size: 36px;
  }
}

.descripciondeinput {
  margin-left: 30px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1170px) and (max-width: 1279px) {
  .descripciondeinput {
    margin-left: 20px;
    font-size: 25px;
  }
}

@media (min-width: 1071px) and (max-width: 1169px) {
  .descripciondeinput {
    margin-left: 28px;
    font-size: 22px;
  }
}

@media (min-width: 916px) and (max-width: 1070px) {
  .descripciondeinput {
    margin-left: 20px;
    font-size: 22px;
  }
}

@media (min-width: 681px) and (max-width: 915px) {
  .descripciondeinput {
    margin-left: 18px;
    font-size: 22px;
  }
}

@media (min-width: 571px) and (max-width: 680px) {
  .descripciondeinput {
    margin-left: 12px;
    font-size: 24px;
  }
}

@media (min-width: 431px) and (max-width: 570px) {
  .descripciondeinput {
    margin-left: 18px;
    font-size: 22px;
  }
}

@media (min-width: 0px) and (max-width: 430px) {
  .descripciondeinput {
    margin-left: 10px;
    font-size: 19px;
  }
}

.nombre {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.inputdeformulario {
  width: 115%;
  height: 35px;
  border: 1.5px solid #707070;
  border-radius: 8px;
  margin-left: 16px;
  font-size: 20px;
}

@media (min-width: 1071px) and (max-width: 1169px) {
  .inputdeformulario {
    height: 32px;
  }
}

@media (min-width: 915px) and (max-width: 1070px) {
  .inputdeformulario {
    height: 30px;
  }
}

@media (min-width: 681px) and (max-width: 915px) {
  .inputdeformulario {
    height: 30px;
  }
}

@media (min-width: 571px) and (max-width: 680px) {
  .inputdeformulario {
    font-size: 19px;
    margin-left: 25px;
    height: 30px;
  }
}

@media (min-width: 431px) and (max-width: 570px) {
  .inputdeformulario {
    font-size: 17px;
    margin-left: 20px;
    height: 30px;
  }
}

@media (min-width: 0px) and (max-width: 430px) {
  .inputdeformulario {
    font-size: 15;
    margin-left: 23px;
    height: 29px;
  }
}

.contenedordeinputnombre {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/span 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.correo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.contenedordeinputcorreo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/span 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.contrasena {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.contenedordeinputcontrasena {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/span 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.botondeformulario {
  border: 2px solid #707070;
  border-radius: 8px;
  padding: 0.2em;
  font-size: 30px;
  background-color: #0083e0;
}

@media (min-width: 1071px) and (max-width: 1279px) {
  .botondeformulario {
    font-size: 27px;
  }
}

@media (min-width: 769px) and (max-width: 1070px) {
  .botondeformulario {
    font-size: 26px;
  }
}

@media (min-width: 571px) and (max-width: 768px) {
  .botondeformulario {
    padding: 0.2em;
    font-size: 28px;
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 570px) {
  .botondeformulario {
    padding: 0.1em;
    font-size: 28px;
    width: 90%;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .botondeformulario {
    padding: 0.1em;
    font-size: 24px;
    width: 75%;
  }
}

.contenedordebotondeiniciarsesion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/span 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 481px) and (max-width: 768px) {
  .contenedordebotondeiniciarsesion {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/span 6;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/span 1;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .contenedordebotondeiniciarsesion {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/span 6;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/span 1;
  }
}

.contendordebotondecrearcuenta {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/span 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 481px) and (max-width: 768px) {
  .contendordebotondecrearcuenta {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/span 6;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/span 1;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .contendordebotondecrearcuenta {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/span 6;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/span 1;
  }
}

/* Pie de pagina */
.piedepaginadeiniciodesesion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/span 12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/span 1;
  background-color: #484242;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 4fr 1fr;
      grid-template-rows: 1fr 4fr 1fr;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 469px) and (max-width: 768px) {
  .piedepaginadeiniciodesesion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 468px) and (max-width: 480px) {
  .piedepaginadeiniciodesesion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 0px) and (max-width: 468px) {
  .piedepaginadeiniciodesesion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    justify-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedordeopciones {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 55px 100px;
      grid-template-rows: 55px 100px;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 0px) and (max-width: 468px) {
  .contenedordeopciones {
    margin-left: 50px;
  }
}

.titulopiedepagina {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .titulopiedepagina {
    font-size: 28px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .titulopiedepagina {
    font-size: 28px;
  }
}

@media (min-width: 481px) and (max-width: 668px) {
  .titulopiedepagina {
    font-size: 28px;
  }
}

.listadeopciones {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/span 1;
  margin-top: 0;
}

.opciondepiedepeagina {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .opciondepiedepeagina {
    font-size: 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .opciondepiedepeagina {
    font-size: 17px;
  }
}

@media (min-width: 481px) and (max-width: 668px) {
  .opciondepiedepeagina {
    font-size: 17px;
  }
}

.imagendelibrodereclamaciones {
  width: 200px;
  margin-top: 10px;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .imagendelibrodereclamaciones {
    width: 180px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .imagendelibrodereclamaciones {
    width: 130px;
  }
}

@media (min-width: 468px) and (max-width: 480px) {
  .imagendelibrodereclamaciones {
    width: 120px;
  }
}

@media (min-width: 481px) and (max-width: 668px) {
  .imagendelibrodereclamaciones {
    width: 120px;
  }
}

@media (min-width: 0px) and (max-width: 468px) {
  .imagendelibrodereclamaciones {
    width: 130px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .contenedordenosotros {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (min-width: 468px) and (max-width: 480px) {
  .contenedordenosotros {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (min-width: 0px) and (max-width: 468px) {
  .contenedordenosotros {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .contenedordecategorias {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (min-width: 468px) and (max-width: 480px) {
  .contenedordecategorias {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (min-width: 0px) and (max-width: 468px) {
  .contenedordecategorias {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/span 1;
  }
}

@media (min-width: 0px) and (max-width: 468px) {
  .contenedordeofertas {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/span 1;
  }
}

@media (min-width: 0px) and (max-width: 468px) {
  .contenedordereclamos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/span 1;
  }
}

/* ------------------------------------------------------- */
/*# sourceMappingURL=iniciodesesion.css.map */