*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$colordebordes : #707070;
$colordebarradenavegacion : #48c535;
$colorprincipaldebotones : #0083e0;
$colorsecundariodebotones : #ec3232;
$colordepiedepagina : #484242;
$colordedescuentodeunproducto : #12be2a;

.contenedordeiniciodesesion{
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 80px 1fr 300px;

    @media (max-width : 1200px) {
        height: 900px;
        grid-template-rows: 80px 1fr 300px;
    }
    
    @media (max-width : 1100px) {
        height: 870px;
        grid-template-rows: 80px 1fr 300px;
    }
    
    @media (min-width : 481px) and (max-width : 768px) {
        height: 1100px;
        grid-template-rows: 80px 1fr 500px;
    }
    
    @media (max-width : 580px) {
        height: 1200px;
        grid-template-rows: 80px 1fr 500px;
    }
    
    @media (max-width : 480px) {
        height: 1300px;
        grid-template-rows: 80px 1fr 500px;
    }
    
    @media (min-width : 0px) and (max-width : 468px) {
        height: 5300px;
        grid-template-rows: 80px 1fr 850px;
    }
}


/* Barra de navegacion */


.barradenavegaciondeiniciodesesion{
    display: grid;
    grid-column: 1/span 12;
    height: 80px;
    background-color: $colordebarradenavegacion;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 80px;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;

    @media (max-width : 480px) {
        display: grid;
        grid-column: span 12;
        height: 80px;
        background-color: $colordebarradenavegacion;
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        grid-template-rows: 80px;
        grid-gap: 10px;
        justify-items: center;
        align-items: center;
    }
}

.logo{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;

    @media (min-width : 769px) and (max-width : 1279px) {
        
    }

    @media (max-width : 1200px) {
        font-size: 22px;
    }

    @media (min-width : 481px) and (max-width : 768px) {
        grid-column: 1/4;
        font-size: 25px;
    }
    
    @media (max-width : 580px) {
        font-size: 24px;
        text-align: center;
        margin-left: 20px;
    }

    @media (max-width : 480px) {
        font-size: 26px;
        margin-left: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        
    }
}

.busquedadeproducto{
    width: 100%;
    height: 100%;
    grid-column: 3/span 4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width : 769px) and (max-width : 1279px) {
        
    }

    @media (min-width : 481px) and (max-width : 768px) {
        grid-column: 4/span 6;
    }

    @media (max-width : 580px) {
        margin-left: 40px;
    }

    @media (max-width : 480px) {
        justify-self: flex-end;
        grid-column: 2/span 1;
        grid-row: 1/2;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        
    }

}

.contenedordeinputdebusquedadeproductos{
    display: flex;
    width: 75%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.inputdebusquedadeproductos{
    width: 100%;
    height: 40%;
    border: 2px solid $colordebordes;
    border-radius: 5px;
    
    @media (min-width : 769px) and (max-width : 1279px) {
        
    }


    @media (min-width : 481px) and (max-width : 768px) {
        
    }

    @media (max-width : 580px) {
        justify-self: flex-end;
    }

    @media (max-width : 480px) {
        display: none;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        
    }
}

.opcionesdebusquedadebarradenavegacion{
    background-color: white;
    border: 2px solid $colordebordes;
    border-radius: 5px;
    width: 24.3%;
    height: 10%;
    z-index: 1;
    position: absolute;
    top: 65px;
    left: 242px;

    
}

.botonbuscadordeproductos{
    width: 20%;
    height: 45%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid $colordebordes;
    border-radius: 5px;
    padding: 0.2em;
    text-align: center;
    background-color: $colorsecundariodebotones;

    @media (min-width : 769px) and (max-width : 1279px) {
        
    }

    @media (max-width : 900px) {
        padding: 0.1em;
        width: 22%;
        height: 40%;
        font-size: 15px;
        text-align: center;
    }

    @media (min-width : 481px) and (max-width : 768px) {
        width: 20%;
        height: 40%;
        padding: 0.1em;
        text-align: center;
    }

    @media (max-width : 580px) {
        font-size: 13px;
        padding: 0.1em;
        text-align: center;
        justify-self: flex-end;
    }

    @media (max-width : 480px) {
        width: 45%;
        font-size: 13px;
        padding: 0.1em;
        text-align: center;
        justify-self: flex-end;
        margin-right: 10px;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        font-size: 13px;
    }
}

.contenedordelistadeopciones{
    grid-column: 7/11;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width : 769px) and (max-width : 1279px) {
        grid-column: 6/12;
        grid-row: 1/2;
        width: 40%;
    }

    @media (max-width : 1200px) {
        grid-column: 6/12;
        grid-row: 1/2;
        width: 55%;
    }

    @media (max-width : 1000px) {
        grid-column: 6/12;
        grid-row: 1/2;
        width: 45%;
    }

    @media (min-width : 481px) and (max-width : 768px) {
        grid-column: 11/span 2;
        grid-row: 1/2;
        width: 100%;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media (max-width : 480px) {
        grid-column: 3/span 1;
        grid-row: 1/2;
        width: 100%;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        
    }

}


.listadeopcionesitem{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    @media (min-width : 769px) and (max-width : 1279px) {
        
    }

    @media (max-width : 1200px) {
        font-size: 18px;
    }

    @media (max-width : 1000px) {
        font-size: 15px;
    }

    @media (min-width : 481px) and (max-width : 768px) {
        display: none;
    }

    @media (max-width : 480px) {
        display: none;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        
    }

}

.botondeiniciodesesion{
    grid-column: 11/span 2;
    grid-row: 1/2;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid $colordebordes;
    border-radius: 10px;
    padding: 0.1em;
    background-color: $colorprincipaldebotones;
    transition-duration: 1.5s;
    
    &:hover{
        width: 95%;
        height: 70%;
        font-size: 30px;
    }

    @media (max-width : 1200px) {
        font-size: 22px;
    }

    @media (min-width : 481px) and (max-width : 768px) {
        display: none;
    }

    @media (max-width : 480px) {
        display: none;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        
    }
}

/* ------------------------------------------------------- */

.contenedordeformulariodeiniciodesesion{
    grid-column: 1/span 12;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1.5fr 1.7fr 1.5fr;
    grid-template-rows: 2fr 55fr 2fr ;

    @media (min-width : 1170px) and (max-width : 1279px) {
        grid-template-columns: 1.5fr 1.8fr 1.5fr;
        grid-template-rows: 2fr 22fr 2fr ;
    }

    @media (min-width : 1070px) and (max-width : 1169px) {
        grid-template-columns: 1.5fr 2fr 1.5fr;
        grid-template-rows: 2fr 28fr 2fr ;
    }

    @media (min-width : 916px) and (max-width : 1070px) {
        grid-template-columns: 1.5fr 2.3fr 1.5fr;
        grid-template-rows: 2fr 28fr 2fr ;
    }

    @media (min-width : 769px) and (max-width : 915px) {
        grid-template-columns: 1.5fr 3fr 1.5fr;
        grid-template-rows: 2fr 30fr 2fr ;
    }

    @media (min-width : 681px) and (max-width : 768px) {
        grid-template-columns: 1.5fr 4.3fr 1.5fr;
        grid-template-rows: 2fr 30fr 2fr ;
    }

    @media (min-width : 571px) and (max-width : 680px) {
        grid-template-columns: 1.5fr 8fr 1.5fr;
        grid-template-rows: 2fr 30fr 2fr ;
    }

    @media (min-width : 481px) and (max-width : 570px) {
        grid-template-columns: 1.5fr 12fr 1.5fr;
        grid-template-rows: 2fr 20fr 2fr ;
    }

    @media (min-width : 0px) and (max-width : 480px) {
        grid-template-columns: 1fr 40fr 1fr;
        grid-template-rows: 2fr 10fr 2fr ;
    }
}


.formulariodeinciodesesion{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 2px solid black;
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 2fr 1.5fr 1.5fr 1.5fr 2fr;
    justify-content: center;
    align-items: center;

    @media (min-width : 769px) and (max-width : 1279px) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    @media (min-width : 481px) and (max-width : 768px) {
        grid-template-rows: 2fr 1.5fr 1.5fr 1.5fr 1fr 1fr;
    }

    @media (min-width : 0px) and (max-width : 480px) {
        grid-template-rows: 2fr 1.5fr 1.5fr 1.5fr 1fr 1fr;
    }
}

.contenedordetitulodeformulario{
    grid-column: 2/6;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulodeformulario{
    text-align: center;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;

    @media (min-width : 1170px) and (max-width : 1279px) {
        font-size: 38px;
    }

    @media (min-width : 916px) and (max-width : 1169px) {
        font-size: 35px;
    }

    @media (min-width : 681px) and (max-width : 915px) {
        font-size: 32px;
    }

    @media (min-width : 571px) and (max-width : 680px) {
        font-size: 30px;
    }

    @media (min-width : 431px) and (max-width : 570px) {
        font-size: 30px;
    }

    @media (min-width : 0px) and (max-width : 430px) {
        font-size: 36px;
    }
}

.descripciondeinput{
    margin-left: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
 
    @media (min-width : 1170px) and (max-width : 1279px) {
        margin-left: 20px;
        font-size: 25px;
    }

    @media (min-width : 1071px) and (max-width : 1169px) {
        margin-left: 28px;
        font-size: 22px;
    }

    @media (min-width : 916px) and (max-width : 1070px) {
        margin-left: 20px;
        font-size: 22px;
    }

    @media (min-width : 681px) and (max-width : 915px) {
        margin-left: 18px;
        font-size: 22px;
    }

    @media (min-width : 571px) and (max-width : 680px) {
        margin-left: 12px;
        font-size: 24px;
    }

    @media (min-width : 431px) and (max-width : 570px) {
        margin-left: 18px;
        font-size: 22px;
    }

    @media (min-width : 0px) and (max-width : 430px) {
        margin-left: 10px;
        font-size: 19px;
    }
}

.nombre{
    grid-column: 1/3;
    grid-row: 2/3;
}

.inputdeformulario{
    width: 115%;
    height: 35px;
    border: 1.5px solid $colordebordes;
    border-radius: 8px;
    margin-left: 16px;
    font-size: 20px;

    @media (min-width : 1071px) and (max-width : 1169px) {
        height: 32px;
    }

    @media (min-width : 915px) and (max-width : 1070px) {
        height: 30px;
    }

    @media (min-width : 681px) and (max-width : 915px) {
        height: 30px;
    }

    @media (min-width : 571px) and (max-width : 680px) {
        font-size: 19px;
        margin-left: 25px;
        height: 30px;
    }

    @media (min-width : 431px) and (max-width : 570px) {
        font-size: 17px;
        margin-left: 20px;
        height: 30px;
    }

    @media (min-width : 0px) and (max-width : 430px) {
        font-size: 15;
        margin-left: 23px;
        height: 29px;
    }
}

.contenedordeinputnombre{
    grid-column: 3/span 3;
    grid-row: 2/3;
}


.correo{
    grid-column: 1/3;
    grid-row: 3/4;
}

.contenedordeinputcorreo{
    grid-column: 3/span 3;
    grid-row: 3/4;
}

.contrasena{
    grid-column: 1/3;
    grid-row: 4/5;
}

.contenedordeinputcontrasena{
    grid-column: 3/span 3;
    grid-row: 4/5;
}

.botondeformulario{
    border: 2px solid $colordebordes;
    border-radius: 8px;
    padding: 0.2em;
    font-size: 30px;
    background-color: $colorprincipaldebotones;

    @media (min-width : 1071px) and (max-width : 1279px) {
        font-size: 27px;
    }

    @media (min-width : 769px) and (max-width : 1070px) {
        font-size: 26px;
    }

    @media (min-width : 571px) and (max-width : 768px) {
        padding: 0.2em;
        font-size: 28px;
        width: 90%;
    }

    @media (min-width : 481px) and (max-width : 570px) {
        padding: 0.1em;
        font-size: 28px;
        width: 90%;
    }

    @media (min-width : 0px) and (max-width : 480px) {
        padding: 0.1em;
        font-size: 24px;
        width: 75%;
    }
}

.contenedordebotondeiniciarsesion{
    grid-column: 1/span 3;
    grid-row: 5/span 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width : 481px) and (max-width : 768px) {
        grid-column: 1/span 6;
        grid-row: 5/span 1;
    }
    
    @media (min-width : 0px) and (max-width : 480px) {
        grid-column: 1/span 6;
        grid-row: 5/span 1;
    }
}

.contendordebotondecrearcuenta{
    grid-column: 4/span 3;
    grid-row: 5/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (min-width : 481px) and (max-width : 768px) {
        grid-column: 1/span 6;
        grid-row: 6/span 1;
    }

    @media (min-width : 0px) and (max-width : 480px) {
        grid-column: 1/span 6;
        grid-row: 6/span 1;
    }
}


/* Pie de pagina */

.piedepaginadeiniciodesesion{
    grid-column: 1/span 12;
    grid-row: 3/span 1;
    background-color: $colordepiedepagina;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 4fr 1fr;
    justify-items: center;
    align-items: flex-start;

    @media (min-width : 769px) and (max-width : 1279px) {

    }

    @media (min-width : 469px) and (max-width : 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    @media (min-width : 468px) and (max-width : 480px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        justify-items: flex-start;
        align-items: center;
    }
}

.contenedordeopciones{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 55px 100px;
    justify-items: center;
    align-items: flex-start ;

    @media (min-width : 0px) and (max-width : 468px) {
        margin-left: 50px;
    }
}

.titulopiedepagina{
    grid-row: 1/2;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;

    @media (min-width : 769px) and (max-width : 1279px) {
        font-size: 28px;
    }

    @media (min-width : 481px) and (max-width : 768px) {
        font-size: 28px;
    }

    @media (min-width : 481px) and (max-width : 668px) {
        font-size: 28px;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        
    }
}

.listadeopciones{
    grid-row: 2/span 1;
    margin-top: 0;
}

.opciondepiedepeagina{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    @media (min-width : 769px) and (max-width : 1279px) {
        font-size: 15px;
    }

    @media (min-width : 481px) and (max-width : 768px) {
        font-size: 17px;
    }

    @media (min-width : 481px) and (max-width : 668px) {
        font-size: 17px;
    }

    @media (min-width : 0px) and (max-width : 468px) {

    }
}

.imagendelibrodereclamaciones{
    width: 200px;
    margin-top: 10px;

    @media (min-width : 769px) and (max-width : 1279px) {
        width: 180px;
    }

    @media (min-width : 481px) and (max-width : 768px) {
        width: 130px;
    }

    @media (min-width : 468px) and (max-width : 480px) {
        width: 120px;
    }

    @media (min-width : 481px) and (max-width : 668px) {
        width: 120px;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        width: 130px;
    }
}

.contenedordenosotros{
    @media (min-width : 481px) and (max-width : 768px) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    @media (min-width : 468px) and (max-width : 480px) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.contenedordecategorias{
    @media (min-width : 481px) and (max-width : 768px) {
        grid-column: 2/span 1;
        grid-row: 1/2;
    }

    @media (min-width : 468px) and (max-width : 480px) {
        grid-column: 2/span 1;
        grid-row: 1/2;
    }

    @media (min-width : 0px) and (max-width : 468px) {
        grid-column: 1/2;
        grid-row: 2/span 1;
    }
}

.contenedordeofertas{
    @media (min-width : 0px) and (max-width : 468px) {
        grid-column: 1/2;
        grid-row: 3/span 1;
    }
}

.contenedordereclamos{
    @media (min-width : 0px) and (max-width : 468px) {
        grid-column: 1/2;
        grid-row: 4/span 1;
    }
}


/* ------------------------------------------------------- */